* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.img 
{
    max-width: 100%;
}

.containerfull
{
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}


.h1
{
    font-size: 50px;
}

.container1
{
    
    padding: 0; 
    display: flex;
    background-color: #ECECEC;
    width: 100%;
    height: 145px;
}
.container2
{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
   background-color: #ECECEC;
   width: 100%;
   height: 50px;
   font-size:x-large;
   font-weight: 400;
}

.navbar
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navbar-brand
{
    margin-bottom: 10px;
}




.images1 
{
    padding-left: 20px;
}

.containerarne 
{
        
    width: 100%;
    height: 600px;
}


.Mainarne 
{
    
    padding-top: 15px;
}


.brødtekst 
{
    font-weight: 500rem;
    width: 558px;
    height: 181px;
}

.roundpic 
{  
      width: 17vh;
     position:relative;
     bottom: 48vh;
     left: 135vh;     
    }

.overlap 
{
    position: absolute;
    top: 70vh; 
    left: 110vh; 
}
.containeroplev
 {
    display: flex;
    justify-content: center;
}
.boxmenu 
{
    display: flex;
    justify-content: center;
}

.container3 
{
    position: relative;
    width: 33%;
    height: auto;
    padding: auto;
    margin: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    color: #707070

}

.box1 img,
.box2 img,
.box3 img 
{
    width: 95%;
    height: 43vh;
    border: 1px solid #000;
    position: relative;

}


.centered 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    height: 17vh;
    width: 90%;
    background-color: #ecececf3;
    display: flex;
    justify-content: center;
    align-items: center;
   }


.Oplev 
{
    display: flex;
    justify-content: center;
}


.container4 
{
    background-color: #060063;
    width: 100%;
    height: 100%;
}

.hovedskrifter 
{
    color: white;
}

.claybox
{
    display: flex;
    width: 100%;
}

.billeder1
{
    flex: 1;
}


.billeder2
{
    position: absolute;
    display: flex;
    left: 50%;
    top:250%;
}

.billeder3 
{
    position:absolute;
    display: flex;
    left: 65%;
}

 
 .container5 {
    overflow: hidden; 
}

.billeder4 {
    float: right; 
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .billeder4
{
        float: none; 
        margin-left: 0;
        margin-bottom: 10px; 
        display: block;
}
}




.tongue
{   
    top: 30vh;
    right: 50%;
    padding-bottom: 80vh;
    padding-top: 82vh;
    position: relative;
    display: flex;
    align-self: flex-end;
}


.img-container
{
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

.img-fluid3,
.img-fluid2
{
    width: 45%; 
    height: auto; 
    max-width: 910px; 
    margin: 10px 15px 20px 50px; 
    display: inline-block;
    vertical-align: top; 
      
}

.brødtekst2
{
    padding-top: 10vh;
    margin-left: 35px;
    margin-right: 35px;
    word-spacing: 1px;
    line-height: 45px;
}


.containerimg {
    display: flex;
    justify-content: space-around;
}

.img-wrapper {
    text-align: center;
}

.img-fluid3,
.img-fluid2 {
    width: 95vh;
    max-width: 100%;    
}

.fs-6 {
    margin-top: 5px;
}


.container7
{
    background-color: #060063;
    width: 100%;
}

.tongue2
{
    position: relative;
    right: 20vh;
}

.fs-2
{
    margin-bottom: 5px;
}

.fs-6
{
    word-spacing: 1px;
    margin-bottom: 0;
}

.fs-3
{
    margin-top: 5px;
}




.billeder5
{
    position: absolute;
    display: flex;
    top: 100%;
    right: 10%;

}

.billeder6 
{
    position:absolute;
    display: flex;
    left: 50%;
    top: 130%;
}   

.tongue3
{
    position: relative;
    transform: scaleX(-1);
    
}


.container8
{
    position: relative;
    display: flex;
    overflow: hidden;
}


.text-overlay
{
    z-index: 1;
    position: absolute;
    right: 38%;
    top: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

.text-overlay2
{
    z-index: 1;
    position: absolute;
    left: 35%;
    top: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}


.text-overlay3
{
    z-index: 1;
    position: absolute;
    left: 35%;
    top: 28%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}


.image-right
 {
    position: relative;
    flex-shrink: 0;
    display: flex;
    right: 15%;
    padding-top: 10%;
}



.container9
{
    width: 100%;
    background-color: #060063;
}

.TMRS
{
    font-size: 23px;
    padding-bottom: 25px;
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
    word-spacing: 10px;
    line-height: 30px;
}

.TMRS2
{
    font-size: 23px;
    padding-bottom: 25px;
    max-width: 600px;
    margin: 0 auto;
    word-spacing: 10px;
    line-height: 30px;
}

.TMRS3
{
    font-size: 23px;
    padding-bottom: 25px;
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
    word-spacing: 10px;
    line-height: 30px;
}


.TM
{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}


.RS 
{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}



.tal 
{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
*{
    margin: 0; padding: 0;
    border: 0; outline: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --theme-col: #060063;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
footer{
    background-color: rgb(70, 70, 70);
    margin-top: 570px;
}
.f-item-con{
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
}
footer .app-name{
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}
.app-name .app-initial{
    color: var(--theme-col);
}
footer .app-info p{
    color: white;
    padding-left: 1.65rem;
}

footer .footer-title{ 
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    height: fit-content;
}
footer ul{ 
    padding-left: 1.75rem;
    color: white;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem;
    margin-top: .5rem;
}
footer ul li{ 
    margin: .25rem 0;
    cursor: pointer;
    color: #d4d4d4;
    width: fit-content;
}
footer ul li:hover{
    color: white;
}
footer .help-sec{
    grid-column-start: 2;
}
footer .cr-con{
    background-color: 70,70,70;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}
.g-i-t{
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.g-i-t form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
form .g-inp{
    padding: .25rem .5rem;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}
.g-inp textarea{
    height: 150px;
}
.f-btn{
    padding: .25rem 1rem;
    background-color: var(--theme-col);
    border-radius: .25rem;
    font-size: 16px;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}